h1 {
  text-align: center;
}
h2 {
  text-align: left;
}
h3 {
  text-align: left;
}
.wrapper {
  margin: 0 auto;
  min-width: 600px;
  max-width: 900px;
}
.code {
  font-family: Courier, Monospace;
  font-weight: bold;
}
.codeblock {
  font-family: Courier, Monospace;
  margin: 10px 20px;
  padding: 10px;
  background-color: #cccccc;
  white-space:pre-wrap;
}
.todo {
  margin: 10px 20px;
  color: red;
  font-weight: bold;
  text-align: center;
}

dt.api{
  font-family: Courier, Monospace;
  font-weight: bold;
  font-size: small;
}