*.annot
*.cmi
*.cmo
*.cmx
*.o
*.a
*.cma
*.cmxa
src/parsers/Calculuslexer.ml
src/parsers/Calculusparser.ml
src/parsers/Calculusparser.mli
src/parsers/K3lexer.ml
src/parsers/K3parser.ml
src/parsers/K3parser.mli
src/parsers/Sqllexer.ml
src/parsers/Sqlparser.ml
src/parsers/Sqlparser.mli
bin
lib/dbt_scala/src/org/dbtoaster/dbtoasterlib/Tuples.scala
lib/.deps
makefile.deps

