<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application
            icon="icons/dbtoaster-64.gif">
         <run
               class="org.dbtoaster.gui.DBToasterGui">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Query Editor"
            class="org.dbtoaster.gui.EditorPerspective"
            id="dbtoaster_gui.editor_perspective">
      </perspective>
      <perspective
            class="org.dbtoaster.gui.PerformancePerspective"
            id="dbtoaster_gui.performance_perspective"
            name="DBMS Performance">
      </perspective>
      <perspective
            class="org.dbtoaster.gui.CodePerfPerspective"
            id="dbtoaster_gui.codeperf_perspective"
            name="DBToaster Performance">
      </perspective>
      <perspective
            class="org.dbtoaster.gui.CompilationViewerPerspective"
            id="dbtoaster_gui.compilation_viewer_perspective"
            name="Code Analysis">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.dbtoaster.gui.QueryEditor"
            id="dbtoaster_gui.queryeditor"
            name="Query Editor">
      </view>
      <view
            class="org.dbtoaster.gui.CodeEditorView"
            id="dbtoaster_gui.codeeditorview"
            name="DBToaster View">
      </view>
      <view
            class="org.dbtoaster.gui.CodeView"
            id="dbtoaster_gui.codeview"
            name="Code View">
      </view>
      <view
            class="org.dbtoaster.gui.PerfView"
            id="dbtoaster_gui.perfview"
            name="Performance View">
      </view>
      <view
            class="org.dbtoaster.gui.CodePerfView"
            id="dbtoaster_gui.codeperfview"
            name="Code Performance View">
      </view>
      <view
            class="org.dbtoaster.gui.DebugView"
            id="dbtoaster_gui.debugview"
            name="Debug View">
      </view>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="dbtoaster_gui.application"
            name="DBToaster">
         <property
               name="appName"
               value="DBToaster">
         </property>
         <property
               name="windowImages"
               value="icons/dbtoaster-16.gif,icons/dbtoaster-32.gif,icons/dbtoaster-64.gif,icons/dbtoaster-128.gif">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupMessageRect"
               value="7,252,445,20">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="aboutImage"
               value="splash.gif">
         </property>
      </product>
   </extension>

</plugin>
